.container {
  .name {
    margin: 20px 0 10px;
    text-align: center;
    font-size: 18px;
    color: #363636;
    font-family: cursive;
  }

  .steps {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .content {
    margin-top: 10px;
  }
}
