.container {
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;

  .name {
    margin: 20px 0 10px;
    text-align: center;
    font-size: 18px;
    color: #363636;
  }

  .steps {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .content {
    margin-top: 10px;
    padding: 10px;
  }
}

.wrap {
  margin: 10px 0;

  tr {
    td:first-child {
      font-weight: 800;
    }
  }
}
