* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: STKaiti;
}

body {
  font-size: 14px;

  .ant-input {
    font-family: STKaiti;
  }
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.gray {
  color: #a9a9a9;
}

.pointer {
  cursor: pointer;
}
